<%- include('partials/header'); -%>


<div class="person">

    <div class="container pers">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        View reservations
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse container-box" data-bs-parent="#accordionFlushExample">
                    <% if(locals.datas){ %>
                        <% datas.forEach((data) =>{ %>
                            <div class="box-data">
                                <h3><%= data.full_name %></h3>
                                <small> Phone: <%= data.phone %></small>
                                <p> Time: <%= data.dataTime %></p>
                                <p>Number-Person: <%= data.numberP %></p>
                                <p>Message: <%= data.messages %></p>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div> 
        </div>
        <a class="btn btn-success mt-5" href="/"><i class='bx bx-left-arrow-alt shake-horizontal'>Back Home</i></a>

    </div>
</div>

<%- include('partials/footer'); -%>